/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #4741A6;
    transition: 0.5s;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.4;
    color: #06213E;
    background-color: #fff;
}

h1 {
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 24px; 
}

img {
    border-radius: 3px;
    object-fit:cover;
    max-height:100%; 
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* color scheme*/
.bg-blue {
    background: #9BBBFC;
}
.bg-blue-light {
    background: #D9EFF7;
}
.bg-blue-dark {
    background: #4741A6;
}
.bg-yellow {
    background: #F9CE69;
}
.bg-yellow-light {
    background: #F2DDA4;
}

/* header */
header {
    position: sticky;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 2rem 10rem;
}

#logo {
    display: flex;
    overflow: hidden;
    height: 90px; 
    width: 100%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menulink-faq {
    padding: 0 0 0 6rem;
}

/* boxes */
main {
    display: flex;
    justify-content: center;
    min-height: 83.5vh;
}
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
.box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;    
    border-radius: 3px;
    padding: 1rem;
}

/* footer */
#copyright {
    text-align: center;
}
#copyright p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #06213E;
}