/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.4;
    color: #06213E;
    background-color: #fff;
}

h1 {
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 24px; 
}

h3 {
    cursor: pointer;
}

img {
    border-radius: 3px;
    object-fit:cover;
    max-height:100%; 
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* color scheme*/
.bg-white {
    background: #ffffffc7;
}
.bg-blue {
    background: #9BBBFC;
}
.bg-blue-light {
    background: #D9EFF7;
}
.bg-blue-dark {
    background: #4741A6;
}
.bg-yellow {
    background: #F9CE69;
}
.bg-yellow-light {
    background: #F2DDA4;
}

/* header */
header {
    position: sticky;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 2rem 10rem;
}
nav .fa-envelope {
    display: none;
}
nav .fa-envelope:hover {
    color: #4741A6;
    transition: 0.5s;
}

#logo {
    display: flex;
    height: 90px; 
    width: 100%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
#menu li a {
    margin: 0 0 0 60px;
}
#menu li:hover {
    color: #4741A6;
    transition: 0.5s;
}

/*** Index Page ***/
/* boxes */
main {
    display: flex;
    justify-content: center;
    min-height: 83.5vh;
}
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 600px;
    width: 100%;
}
.box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;    
    border-radius: 3px;
    padding: 1rem 2rem;
    overflow: hidden;
    margin: 1rem 0;
}
.box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px; 
    cursor: pointer;
}
.box-img {
    flex: 30;
}
.box-img i {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    font-size: 2em;
}
.box-text {
    flex: 70;
}
.box-text i {
    padding: 0 0 0 15px;
}

.hover-blue:hover {
    color: #4741A6;
    transition: 0.5s;
}
.hover-blue-light:hover {
    color:#D9EFF7;
    transition: 0.5s;
}

/* js dropdown menu */
.dropdown-menu {
    display: none;
    position: relative;  
    padding: 0;  
    margin: 0px 0 20px 0;
    
}
.dropdown-content p {
    font-size: 26px;
    margin: 0 0 5px 0;
    padding: 0 0 0 2rem;
    width: 100%; 
}
.dropdown-content li i {
    font-size: 20px;
    padding: 0 10px 0 0;
}
/* footer */
footer {
    padding: 4em 0 0 0;
    text-align: center;
}

#copyright p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #06213E;
}

/*** Game Page ***/
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.score-bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    padding: 1rem;
    font-size: 26px;
}
.score-bar div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* Code inspiration source: Ania Kubow tutorial */
.grid {
    height: 780px;
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 0 0;
}
.grid div {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
}

/*** Contact Page ***/
.form {
    max-width: 600px;
    width: 100%;
    height: 60vh;
    padding: 0 30px;
    border-radius: 6px;
    /* background: rgba(76, 162, 243, 0.1)  */
}

.form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field textarea {
    height: auto;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid#CACACA;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    border-radius: 3px;
    padding: 16px 20px;
    margin: 8px 0;
    font-size: 1rem;
    font-family: inherit;  
}

.field input:focus,
.field textarea:focus {
    border-bottom-width: 2px;
}

.field button {
    margin: 10em 0 0 0;
    color: #fff;
    background-color: #4741A6;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    color:#06213E;
    background-color: #9BBBFC;
    transition: 0.5s;
}





/* Media Queries */
/* small & tablet screens*/
@media screen and (max-width: 1023px) {
    /* index page */
    header {
        padding: 1rem 0 0 0;
    }
    nav {
        height: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    nav .fa-envelope {
        display: block;
        font-size: 35px;
    }

    #logo {
        height: 80px;
    }

    #menu {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    .box-container {
        margin: 3rem 1rem;
    }

    h3 {
        font-size: 28px;
    }

    .box-img i {
        padding: 3px;
        font-size: 1.25em;
    }

    .dropdown-menu {
        padding: 0;
        bottom: 26px;
    }

    .dropdown-content p {
        padding: 0 0 0 1rem;
        font-size: 24px;
    }

    .dropdown-content li i {
        font-size: 20px;
    }

    /* game page */
    .game-container {
        padding: 1rem 0;
    }
    .score-bar {
        height: 80px;
    }
    .score-bar div {
        font-size: 20px;
    }

    .grid {
        width: 95%;
        height: 660px;
        padding: 0 0 10px 0;
    }
    .grid div {   
        width: 80px;
    }
} 

/* small screen*/
@media screen and (max-width: 767px) {
    /* game page */
    .grid div {   
        height: auto;
    }
}

/* tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) and (max-width: 1480px) {
    
}

