/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.4;
    color: #06213E;
    background-color: #fff;
}

button {
    all: unset;
}

h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 40px; 
}
h1 span{
    font-weight: bold;
}

h3 {
    cursor: pointer;
}

html,
body {
    width:100%;
    overflow-x:hidden;
}

img {
    border-radius: 3px;
    object-fit:cover;
    max-height:100%; 
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* color scheme*/
.bg-white {
    background: #ffffffc7;
}
.bg-blue {
    background: #9BBBFC;
}
.bg-blue-light {
    background: #D9EFF7;
}
.bg-blue-dark {
    background: #4741A6;
}
.bg-yellow {
    background: #F9CE69;
}
.bg-yellow-light {
    background: #F2DDA4;
}

.show {
    display: block;
}
.hidden {
    display: none;
}

main {
    position: relative;
    min-height: 90vh;
}

section {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

/* header */
header {
    position: sticky;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 2rem 10rem;
}
nav .fa-envelope {
    display: none;
}
nav .fa-envelope:hover {
    color: #4741A6;
    transition: 0.5s;
}

#logo {
    display: flex;
    height: 90px; 
    width: 100%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
#menu li a {
    margin: 0 0 0 60px;
}
#menu li:hover {
    color: #4741A6;
    transition: 0.5s;
}

/*** Index Page ***/  
/* boxes */
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 33%;
    height: 160px;    
    border-radius: 3px;
    padding: 1rem 2rem;
    overflow: hidden;
    margin: 1rem 0;
}
.box-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px; 
    cursor: pointer;
}
.box-img {
    flex: 30;
}
.box-img i {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    font-size: 2em;
}
.box-text {
    flex: 70;
}
.box-text i {
    padding: 0 0 0 15px;
}
.box-text .fa-xmark {
    display: none;
}

.hover-blue:hover {
    color: #4741A6;
    transition: 0.5s;
}
.hover-blue-light:hover {
    color:#D9EFF7;
    transition: 0.5s;
}

/* js dropdown menu */
.dropdown-menu {
    display: none;
    position: relative; 
    width: 100%;
    min-height: 240px; 
    padding: 0;  
    margin: 0px 0 20px 0;
    color: #06213E;
    text-align: start;
}
.dropdown-content p {
    font-size: 22px;
    margin: 0 0 5px 0;
    padding: 0 0 0 2rem;
    width: 100%; 
}
.dropdown-content li {
    margin: 0 0 12px 0;
}
.dropdown-content li i {
    font-size: 16px;
    padding: 0 10px 0 0;
}
.dropdown-content li a {
    font-weight: 600;
}
.dropdown-content li a:hover {
    color: #4741A6;
    transition: 0.5s;
}
.dropdown-content span {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

/* footer */
footer {
    padding: 4rem 0 0 0;
    text-align: center;
}

#copyright p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #06213E;
}

/*** Game Page ***/
#section-game {
    margin: 0 auto;
    padding: 0;
}
.score-bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    padding: 1rem;
    font-size: 26px;
}
.score-bar div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* Code inspiration source for grid css: Ania Kubow tutorial */
.grid {
    width: 880px;
    height: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
}
.grid div {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    margin: 5px;
}

/* game over modal */
.game-over-modal {
    position: absolute;
    background-color: #9BBBFC;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.95; 
}
.game-over-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-over-text {
    display: flex;
    flex-direction: column;
    color: #06213E;
    background-color:#fff;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 2rem;   
}
.game-over-text h3 {
    margin: 0 0 2rem 0;
}
.game-over-buttons {
    padding: 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

/*** Contact Page ***/
.form {
    max-width: 600px;
    width: 100%;
    height: 60vh;
    padding: 0 30px;
    border-radius: 6px;
}

.form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field textarea {
    height: auto;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid#CACACA;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    border-radius: 3px;
    padding: 16px 16px;
    margin: 8px 0;
    font-size: 1rem;
    font-family: inherit;  
}

.field input:focus,
.field textarea:focus {
    border-bottom-width: 2px;
}

.field button {
    margin: 10em 0 0 0;
    padding: 0 0 0 20px;
    color: #fff;
    background-color: #4741A6;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 97%;
}
.field button:hover {
    color:#06213E;
    background-color: #9BBBFC;
    transition: 0.5s;
}





/* Media Queries */
/* small & tablet screens*/
@media screen and (max-width: 1023px) {
    /* index page */
    header {
        padding: 1rem 0 0 0;
    }
    nav {
        height: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    nav .fa-envelope {
        display: block;
        font-size: 35px;
    }

    #logo {
        height: 60px; 
        width: 100%;
    }

    #menu {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 28px;
    }

    .box-img i {
        padding: 3px;
        font-size: 1.25em;
    }

    .dropdown-content p {
        padding: 0 0 0 1rem;
        font-size: 16px;
    }

    .dropdown-content li i {
        font-size: 16px;
    }

    /* game page */
    #section-game {
        width: 90%;
    }

    .game-container {
        padding: 1rem 0;
    }

    .score-bar {
        height: 80px;
    }
    .score-bar div {
        font-size: 20px;
    }  

    .game-over-text {
        width: 80%;
        font-size: 2rem; 
    }
} 
/* extra small screen*/
@media screen and (max-width: 659px) {
    #section-game {
        width: auto;
        padding: 0;
    }

    /*index page*/
    .box {
        max-width: 100%;
    }
    /* game page */
    .score-bar {
        width: 360px;
        height: 60px;
    }
    .score-bar div,
    .score-bar h3 {
        font-size: 18px;
    } 
    .grid {
        height: 360px;
        width: 360px;
        padding: 0;
    } 
    .grid div {
        height: 35px;
        width: 35px;
    }

    .game-over-text {
        font-size: 1.25rem; 
    }
}
/* small screen*/
@media screen and (min-width: 660px) and (max-width: 767px) {
    /* index page */
    .box {
        max-width: 80%;
    }
    .box-content {
        padding: 0;
    }
    .box-text i {
        padding: 0 0 0 5px;
    }

    .dropdown-menu {
        min-height: 240px;     
    }

    /* game page */
    .score-bar {
        width: 600px;
    }
    .grid {
        height: 600px;
        width: 600px;
        padding: 5px 0;
    } 
    .grid div {
        height: 70px;
        width: 70px;
        margin: 1px;
    }
}
@media screen and (max-width: 1023px) {
    #section-game {
        width: auto;
        padding: 0;
    }
}
/* tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .box {
        max-width: 60%;
    }

    /* game page */
    .score-bar {
        width: 700px;
    }
    .grid {
        height: 700px;
        width: 700px;
        padding: 5px 0;
    } 
    .grid div {
        height: 80px;
        width: 80px;
        margin: 2px;
    }
}

